#mainWindowWrapper {
  display: flex;
  width: 100%;
  max-width: 1400px;
  height: 90vh;
  max-height: 800px;
  border-radius: var(--border-radius-medium);
  overflow: hidden;
}

#sidebarWrapper {
  flex-basis: 400px;
  display: flex;
  flex-direction: column;
  border-right: 2px solid var(--primary-accent);
}

#chatWrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

/* small mobile media query */
@media (max-width: 768px) {
  #mainWindowWrapper {
    display: flex;
    height: 100vh;
    border-radius: unset;
    max-height: unset;
  }

  #sidebarWrapper {
    flex-basis: 100%;
    border-right: none;
  }

  #chatWrapper {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    transform: translateX(100%);
    transition: transform 0.5s cubic-bezier(0.1, 0.81, 0, 0.99);
    z-index: 100;
  }

  #chatWrapper.active {
    transform: translateX(0);
  }
}
