.chatBodyContainer {
  height: 100%;
  padding-bottom: 130px;
}

.chatBody {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 100%;
  padding-right: var(--button-padding-medium);
  overflow-x: hidden;
  overflow-y: auto;
}

.chatBody::-webkit-scrollbar {
  width: 8px;
  background: none;
}

.chatBody::-webkit-scrollbar-thumb {
  background-color: var(--secondary-background-accent);
  border-radius: var(--border-radius-large);
}

.chatBodyMessageContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;
  max-width: 600px;
  padding: var(--button-padding-medium) var(--button-padding-large);
  border-radius: var(--border-radius-small);
  background-color: var(--secondary-background-accent);
}

.chatBodyMessageContainer.isUserMessage {
  margin-left: auto;
  background-color: var(--secondary-accent);
}

.chatBodyMessageContainer.isUserMessage > .messageTimestamp {
  margin-left: auto;
}

.chatBodyMessage {
  -ms-word-break: break-all;
  word-break: break-all;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  white-space: normal;
  padding-bottom: var(--button-padding-small);
}

.messageTimestamp {
  font-size: var(--font-size-default-small);
  font-weight: var(--font-weight-bold);
  color: var(--secondary-text-accent);
}

.chatInputContainer {
  position: sticky;
  bottom: 0;
  left: 0;
  display: flex;
  gap: 10px;
  width: 100%;
  padding: var(--padding-small) 0;
}

.sendMessageInput {
  flex-grow: 1;
  padding: var(--button-padding-medium) var(--button-padding-large);
  border-radius: 100px;
  border: 2px solid var(--secondary-accent);
  font-size: var(--font-size-default);
  background: var(--primary-background-accent);
  box-shadow: inset 0 0 6px 3px rgba(0, 0, 0, 0.1);
  outline: none;
}

.sendMessageButton {
  display: grid;
  place-items: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: var(--secondary-accent);
  color: var(--primary-text-color);
  font-size: var(--font-size-default);
  cursor: pointer;
  transition: filter 0.2s linear;
}

.sendMessageButton[disabled] {
  filter: grayscale(100%);
  pointer-events: none;
}

.sendMessageButton:hover,
.sendMessageButton:focus {
  filter: brightness(1.1);
}

/* mobile media query */
@media screen and (max-width: 768px) {
  .chatInputContainer {
    position: fixed;
    padding: var(--padding-small) var(--padding-small);
  }
}

/* small mobile media query */
@media screen and (max-width: 512px) {
  .chatInputContainer {
    padding: var(--button-padding-medium) var(--padding-small);
  }

  .chatBodyContainer {
    padding-bottom: 120px;
  }

  .chatBody {
    padding-right: var(--button-padding-medium);
  }

  .chatBody::-webkit-scrollbar {
    width: 5px;
  }
}

/* extra small mobile media query */
@media screen and (max-width: 400px) {
  .messageTimestamp {
    font-size: var(--font-size-default-xsmall);
  }

  .sendMessageButton {
    width: 38px;
    height: 38px;
  }
}
