.chatHeaderContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chatHeaderLeft {
  display: flex;
  align-items: center;
  gap: 5px;
}

.backButton {
  display: none;
  place-items: center;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  background: none;
  transition: background 0.2s linear;
  cursor: pointer;
}

.backButton:hover {
  background: rgba(255, 255, 255, 0.1);
}

.personContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.personImageContainer {
  position: relative;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
}

.profileImage {
  object-fit: cover;
}

.personUsername {
  font-size: var(--font-size-h5);
  font-weight: var(--font-weight-bold);
  color: var(--primary-text-accent);
}

.personLastSeen {
  font-size: var(--font-size-default-small);
  font-weight: var(--font-weight-default);
  color: var(--secondary-text-accent);
}

.optionsContainer {
  display: flex;
  align-items: center;
  gap: 5px;
}

.optionsButton {
  position: relative;
  padding: var(--button-padding-medium);
  border-radius: var(--border-radius-small);
  background: none;
  transition: background 0.2s linear;
  cursor: pointer;
}

.optionsButton:hover {
  background: rgba(255, 255, 255, 0.1);
}

.optionsIcon {
  width: 20px;
  height: 20px;
}

.threeDotOptionsContainer {
  position: absolute;
  top: 30px;
  right: -15px;
  padding: var(--padding-small);
}

.threeDotOptionsList {
  flex-direction: column;
  gap: 5px;
  width: max-content;
  background-color: var(--secondary-background-accent);
  padding: var(--button-padding-medium);
  border-radius: var(--border-radius-small);
}

.optionItemButton {
  width: 100%;
  padding: var(--button-padding-medium) var(--button-padding-large);
  border-radius: var(--border-radius-small);
  font-size: var(--font-size-default);
}

.optionItemButton.signOut {
  background-color: var(--danger-accent);
}

.optionItemButton:hover {
  filter: brightness(1.1);
}

/* mobile media query */
@media screen and (max-width: 768px) {
  .backButton {
    display: grid;
  }
}

/* small mobile media query */
@media screen and (max-width: 512px) {
  .personImageContainer {
    width: 35px;
    height: 35px;
  }

  .personLastSeen {
    font-size: var(--font-size-default-small);
  }
}

/* extra small mobile media query */
@media screen and (max-width: 400px) {
  .personLastSeen {
    font-size: var(--font-size-default-xsmall);
  }
}
