.sidebarBodyContainer {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.chatsContainerTitle {
  text-align: center;
  padding-bottom: var(--padding-small);
  color: var(--secondary-text-accent);
  opacity: 0.5;
  pointer-events: none;
}

.skeletonLoadingItem {
  margin: 5px 0;
}

.chatsList {
  flex-direction: column;
  gap: 10px;
}

.chatsListItem {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: var(--button-padding-medium) var(--button-padding-large);
  border-radius: var(--border-radius-small);
  /*  background-color: var(--secondary-background-accent); */
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.2) 12%,
    var(--secondary-background-accent)
  );
  cursor: pointer;
  transition: filter 0.2s linear;
}

.chatsListItem:hover {
  filter: brightness(1.1);
}

.chatsListItemImage {
  border-radius: 50%;
}

.chatsListItemInfo {
  display: flex;
  flex-direction: column;
}

.chatsListItemInfoUsername {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-h6);
  letter-spacing: 0.3px;
}

.chatsListItemInfoMessage {
  font-size: var(--font-size-default-small);
  color: var(--secondary-text-accent);
  opacity: 0.8;
}

/* mobile media query */
@media screen and (max-width: 768px) {
  .sidebarBodyContainer {
    gap: 30px;
  }
}
