#sidebarHeaderWrapper {
  padding: var(--padding-small) var(--padding-medium);
  background-color: var(--primary-background-accent);
  box-shadow: 0 8px 4px -4px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

#sidebarBodyWrapper {
  height: 100%;
  padding: var(--padding-small) var(--padding-medium);
  background-color: var(--primary-background-accent);
  overflow-x: hidden;
  overflow-y: auto;
}

#sidebarBodyWrapper::-webkit-scrollbar {
  width: 8px;
  background: none;
}

#sidebarBodyWrapper::-webkit-scrollbar-thumb {
  background-color: var(--secondary-background-accent);
  border-radius: var(--border-radius-large);
}

/* small mobile media query */
@media screen and (max-width: 768px) {
  #sidebarBodyWrapper {
    padding: var(--padding-medium) var(--padding-small);
  }

  #sidebarBodyWrapper::-webkit-scrollbar {
    width: 5px;
    background: none;
  }

  #sidebarHeaderWrapper {
    padding: var(--padding-small) var(--padding-small);
  }
}
