.sidebarBodyContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.createChatContainer {
  text-align: center;
}

.createChatButton {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  background-color: var(--primary-accent);
  padding: var(--button-padding-medium);
  border-radius: var(--border-radius-small);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-default-small);
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.createChatButton:hover {
  filter: brightness(1.1);
}

.createChatIcon {
  width: 20px;
  height: 20px;
}

#createChatIconToRotate {
  display: none;
  width: 22px;
  height: 22px;
  transition: transform 0.3s cubic-bezier(0.55, -0.55, 0.61, 1.69);
}

#createChatIconToRotate.active {
  transform: rotate(45deg);
}

.createChatInfo {
  display: flex;
  gap: 5px;
  padding: var(--padding-small) 0;
}

.createChatInput {
  flex-grow: 1;
  padding: var(--button-padding-small) var(--button-padding-medium);
  border: none;
  border-radius: var(--border-radius-small);
  outline: 1px solid var(--primary-accent);
}

.createChatInfo .createChatButton {
  width: fit-content;
}

.createChatButton.isCloseButton {
  background-color: var(--danger-accent);
}

.chatsContainerTitle {
  text-align: center;
  padding-bottom: var(--padding-small);
  color: var(--secondary-text-accent);
  opacity: 0.5;
  pointer-events: none;
}

.skeletonLoadingItem {
  margin: 5px 0;
}

.chatsList {
  flex-direction: column;
  gap: 10px;
}

.chatsListItem {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: var(--button-padding-medium) var(--button-padding-large);
  border-radius: var(--border-radius-small);
  background-color: var(--secondary-background-accent);
  cursor: pointer;
  transition: filter 0.2s linear;
}

.chatsListItem:hover {
  filter: brightness(1.1);
}

.chatsListItemImage {
  border-radius: 50%;
}

.chatsListItemInfo {
  display: flex;
  flex-direction: column;
}

.chatsListItemInfoUsername {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-h6);
  letter-spacing: 0.3px;
}

.chatsListItemInfoMessage {
  font-size: var(--font-size-default-small);
  color: var(--secondary-text-accent);
  opacity: 0.8;
}

/* mobile media query */
@media screen and (max-width: 768px) {
  .sidebarBodyContainer {
    gap: 30px;
  }

  .createChatButton.isCloseButton {
    display: none;
  }

  .createChatButton:first-child {
    position: fixed;
    bottom: var(--padding-small);
    right: var(--padding-small);
    display: grid;
    place-items: center;
    padding: unset;
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }

  .createChatText {
    display: none;
  }

  #createChatIconToRotate {
    display: initial;
  }
}

/* small mobile media query */
@media screen and (max-width: 512px) {
}
